{{page-title "Поиск позиции"}}
<main role="main" class="flex-shrink-0 flex-grow-1">
  <div class="container">
    <h3>
      Введите интересующую позицию:
    </h3>
    <form>
      <div class="form-row">
        <div class="col-8">
          <input
            class="form-control"
            type="text"
            placeholder="Введите ОКВЭД, название  или код"
            aria-label="ОКВЭД, название  или код"
          />
        </div>
        <div class="col">
          <button class="btn btn-outline-success" type="submit">
            Поиск
          </button>
        </div>
      </div>
    </form>
  </div>
</main>
{{outlet}}